<div class="form-group">
	<label for="{{ id }}" class="col-lg-2 control-label">{{ label|trans }}</label>
	<div class="col-lg-10">
		<input type="{{ type }}" class="form-control" id="{{ id }}" 
		name="{{ name }}" value="{{ value }}"
		placeholder="{{ label|trans }}">
	</div>
</div>




{# Ejemplo codigo#}

{# 	{% include ':form:inputLateral.html.twig' with {'id': id ,'name': name ,'type': type ,'value': value, 'label': label } %}	#}

{# <div class="form-group">#}
{# 	<label for="inputPassword1" class="col-lg-2 control-label">Password</label>#}
{# 	<div class="col-lg-10">#}
{# 		<input type="password" class="form-control" id="inputPassword1" placeholder="Password">#}
{# 	</div>#}
{# </div>#}