	
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{% trans %}Datos Participacion{% endtrans %}</h4>
			</div>
			<div class="modal-body">
					{{ form_row(form._token) }}
					<div class="form-group">
						<label for="numero">{% trans %}Numero{% endtrans %}</label>
						<input name="{{ form.number.vars.full_name }}" value="{{ entity.number }}" 
						class="form-control" id="numero" placeholder="Ingrese el numero">
					</div>
					<div class="form-group">
						<label for="tiempoNoOficial">{% trans %}Tiempo Objetivo{% endtrans %}</label>
						
						<div class="input-group input-append bootstrap-timepicker">
							<input type="text" class="form-control" id="tiempoNoOficial" placeholder="{% trans %}Objetivo{% endtrans %}"  name="{{ form.objetive.vars.full_name }}"  id="{{ form.objetive.vars.full_name }}" value="{{ entity.objetive}}" >
							<span class="add-on input-group-addon"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="tiempoNoOficial">{% trans %}Tiempo No Oficial{% endtrans %}</label>
						
						<div class="input-group input-append bootstrap-timepicker">
							<input type="text" class="form-control" id="tiempoNoOficial" placeholder="Tiempo No Oficial"  name="{{ form.time.vars.full_name }}"  value="{{ entity.time}}" >
							<span class="add-on input-group-addon"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="tiempoNoOficial">{% trans %}Distancia{% endtrans %}</label>
						<div class="input-group" >
							<div class="form-group form-group-select2">
								{{ form_widget(form.category) }}
						</div>
					</div>
					<div style="visibility: hidden;">
						<input name="{{ form.user.vars.full_name }}" value="{{ entity.user.id}}" >
						<input name="{{ form.classification.vars.full_name }}" value="{% if entity.classification != null %}{{ entity.classification.id}}{% endif %}" >
						<input name="{{ form.event.vars.full_name }}" value="{{ entity.event.id}}" >
					</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">{% trans %}Enviar{% endtrans %}</button>
			</div>
		</div><!-- /.modal-content -->
	