{% extends '::layout_xtending_dashboard.html.twig' %}

	{% block header_meta %}
    <meta property="og:url"           content="http://www.triabox.com/event/{{ entity.id }}/show" />
    <meta property="og:title"         content="TriaBox - {{ entity.name }}" />
    <meta property="og:description"   content="[{{ entity.sport }} - {{ entity.startTime|date('d.m.y') }} - {{ entity.startHs }}]  {{ entity.name }} - {{ entity.province }} - {{ entity.city }}" />
    <meta property="og:image"         content="http://www.triabox.com/{{ asset(entity.photo) }}" />
	
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:description" content="[{{ entity.sport }} - {{ entity.startTime|date('d.m.y') }} - {{ entity.startHs }}]  {{ entity.name }} - {{ entity.province }} - {{ entity.city }}"/>
	<meta name="twitter:title" content="TriaBox - {{ entity.name }}"/>
	<meta name="twitter:site" content="@triabox"/>
	<meta name="twitter:domain" content="triabox.com"/>
	<meta name="twitter:image:src" content="http://www.triabox.com/{{ asset(entity.photo) }}"/>
	<meta name="twitter:domain" content="TriaBox"/>
	
	{% endblock %}
{% block main_box_label %}{{ entity.name }} {% endblock %}
											{% block main_box_label_right %}
											
											{% endblock %}

{% block main_box -%}
<div class="main-box-body clearfix">
	
				
		
						{% include 'EventBundle:Event:view.html.twig' with {'entity': entity } %}
						
												
						
						{% include 'EventBundle:Event:eventInformation.html.twig' with {'entity': entity } %}				
		
</div>
	
{% endblock %}
{% block main_col %}{% endblock %}
{% block lateral_box %}

{% endblock %}



    
{% block script_custom %}
	
	
	function seachClassification(idEvent,idSelect){
	
		$(idSelect).append('');
		
		alert("Hola Mundo");
	}
	
	

	
		
	function generateSliderLower(nameSlider,min,max,start,imputId,spanId) {
  		
  		$(nameSlider).noUiSlider({
		range: [min,max],
		start: [start],
		handles: 1,
		connect: 'lower',
		slide: function(){
			var val = $(this).val();
			
			$(imputId).val(
				 val
			);
			$(spanId).text(
					val
			);
		},
		set: function() {
			var val = $(this).val();
			
			$(imputId).val(
				 val
			);
			$(spanId).text(
					 val
			);
		}
	});
	$(nameSlider).val(start, true);
	}

	generateSliderLower('.slider-minmax',0,100,50,'#location','#location_span');
	generateSliderLower('.slider-minmax1',0,100,50,'#circuit','#circuit_span');
	generateSliderLower('.slider-minmax2',0,100,50,'#organization','#organization_span');
	
	generateSliderLower('.slider-minmax3',0,100,50,'#nutrition','#nutrition_span');
	generateSliderLower('.slider-minmax4',0,100,50,'#punctuality','#punctuality_span');
	generateSliderLower('.slider-minmax5',0,100,50,'#assistance','#assistance_span');
	generateSliderLower('.slider-minmax6',0,100,50,'#kit','#kit_span');
	
	
	$(function() {
		$('.chart').easyPieChart({
			easing: 'easeOutBounce',
			onStep: function(from, to, percent) {
				$(this.el).find('.percent').text(Math.round(percent));
			},
			barColor: '#3498db',
			trackColor: '#f2f2f2',
			scaleColor: false,
			lineWidth: 8,
			size: 130,
			animate: 1500
		});
	});
	
	
	 function appendNews(link,idNews){
	 	$(idNews).append($('<div>').load(link));
	  
	  }
	  
	  $('#classifications').load('{{ path('list_classification', { 'tipe' :'next','idEvent' :entity.id ,'firstResult': min_records,'maxResults': 100 }) }}');
	
	
	function autocomplete(){
		var url = '{{ path('event_rearch_result' , { 'search' :'search_value','idEvent' :entity.id }) }}';
		var url_value = url.replace('search_value', $( "#search_value" ).val());
		
		$('#classifications').load(url_value);
	}

	$( "#search_value").keyup(function() {
		if($( "#search_value" ).val().length >= 2){
			 autocomplete();
		}
	 
	});

	{% endblock %}	
	


	


