<div class="story">
		<div class="story-user">
			<a href="#">
				<img src="{%  include 'user_photo.html.twig' with {'user': entity.user } %}" alt=""/>
			</a>
		</div>
		
		<div class="story-content">
			<header class="story-header">
				<div class="story-author">
					<a href="#" class="story-author-link">
						{{ entity.user.name }} {{ entity.user.lastname }} 
					</a>
					 {{ entity.comment }}
				</div>
				<div class="story-time">
					<i class="fa fa-clock-o"></i> {% if entity.createTime %}{{ entity.createTime|date('Y-m-d H:i:s') }}{% endif %}
				</div>
			</header>
			<div class="story-inner-content">
				
				</br>
				{% include 'EventBundle:Event:view.html.twig' with {'entity': entity.event,'tipe':"news" } %}
			</div>
			<div id="news_{{ entity.id }}">
				{% include 'NewsUserBundle:NewsUser:footerNews.html.twig' with {'entity': entity } %}
			</div>
			{% include 'NewsUserBundle:NewsUser:showComment.html.twig' with {'entity': entity } %}
		</div>
</div>