<ul class="nav navbar-nav pull-right">
						
						{% if app.user != null %}
						<li class="mobile-search" id="search" >
							<a class="btn">
								<i class="fa fa-search"></i>
							</a>
							
							<div class="drowdown-search">
								<form role="search" action="{{ path('users') }}" method="get">
									<div class="form-group" >
										<input  type="text" class="form-control" placeholder="{% trans %}Buscar...{% endtrans %}" name="search">
										<i class="fa fa-search nav-search-icon" ></i>
									</div>
								</form>
							</div>
							
						</li>
						
						<li class="dropdown profile-dropdown">
							
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								
								<img src="{%  include 'user_photo.html.twig' with {'user': app.user } %}" alt=""/>
								
								<span class="hidden-xs">{{ app.user.name }} {{ app.user.lastname }}</span> <b class="caret"></b>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="{{ path('user_show', { 'id': app.user.id }) }}"><i class="fa fa-user"></i>{% trans %}Perfil{% endtrans %}</a></li>
{# 								<li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>#}
{# 								<li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>#}
								<li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i>{% trans %}Logout{% endtrans %}</a></li>
							</ul>
							
							
						</li>
						<li class="hidden-xxs">
							<a class="btn" href="{{ path('logout') }}">
								<i class="fa fa-power-off"></i>
							</a>
						</li>
						{%  else %}
						
						
						<li class="mobile-search">
							<a class="btn">
								<i class="fa fa-search"></i>
							</a>
							
							<div class="drowdown-search">
								<form role="search" action="{{ path('event_search') }}" method="get">
									<div class="form-group" >
										<input type="text" class="form-control" placeholder="{% trans %}Buscar...{% endtrans %}" name="search">
										<i class="fa fa-search nav-search-icon" ></i>
									</div>
								</form>
							</div>
						</li>
						
						
						
						{% endif %}
					</ul>