<tr>
	<td>
		<img src="{%  include 'user_photo.html.twig' with {'user': entity.user } %}"  href="{{ path('user_show', { 'id': entity.user.id }) }}"/>
	</td>
	<td>
		<div class="conversation-body">
			<div class="name">
				{{ entity.user.name }} {{ entity.user.lastname }}
			</div>
			<div class="time hidden-xs">
				{% if entity.createTime %}{{ entity.createTime|date('Y-m-d H:i:s') }}{% endif %}
			</div>
			<div class="text">
				{{ entity.comment }}
			</div>
		</div>
	</td>
</tr>