
											<div class="table-responsive">
												<table id="table-result" class="table table-hover">
													<thead>
														<tr>
															<th>{% trans %}Posicion{% endtrans %}</th>
															<th><span>{% trans %}Posicion Categoria{% endtrans %}</span></th>
															<th><span>{% trans %}Nombre{% endtrans %}</span></th>
															<th><span>{% trans %}Apellido{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Categoria{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Tiempo Oficial{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Tiempo Neto{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Sexo{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Dorsal{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Pais{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Natacion{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Bicicleta{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Carrera{% endtrans %}</span></th>
															<th class="text-center"><span>{% trans %}Carrera 2{% endtrans %}</span></th>
														</tr>
													</thead>
													
													
													<tbody>
													<tr>
														<td>
														<div class="form-group form-group-select2">
														<select style="width:100px" id="position_1"  name="position_1" >
															<option value="A" selected="selected">{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C">{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option> 
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
													</div>
																		
													</td>
													
																	<td>
														<div class="form-group form-group-select2">
														<select style="width:100px" id="position_2"  name="position_2" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" selected="selected">{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C">{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option> 
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
														</div>
														</td>
																	<td>
																	<select style="width:100px" id="position_3"  name="position_3" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 															
															<option value="C" selected="selected">{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>  
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																		
																	</td>
																			<td>
																	<select style="width:100px" id="position_4"  name="position_4" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 															
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D" selected="selected">{% trans %}Apellido{% endtrans %}</option>  
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																		
																	</td>
																	<td>
																	<select style="width:100px" id="position_5"  name="position_5" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>  
															<option value="E" selected="selected">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																		
																	</td>
																	<td>
																	<select style="width:100px" id="position_6"  name="position_6" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>  
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F" selected="selected">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																		
																	</td>
																	<td>
																		<select style="width:100px" id="position_7"  name="position_7" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>   
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G" selected="selected">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																	</td>
																	<td>
																		<select style="width:100px" id="position_8"  name="position_8" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>  
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G" >{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H" selected="selected">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																	</td>
																	<td>
																		<select style="width:100px" id="position_9"  name="position_9" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>  
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I" selected="selected">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																	</td>
																	<td>
																	<select style="width:100px" id="position_10"  name="position_10" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>  
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J" selected="selected">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																	
																	</td>
																	<td>
																		<select style="width:100px" id="position_11"  name="position_11" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>   
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K" selected="selected">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																	</td>
																	<td>
																		<select style="width:100px" id="position_12"  name="position_12" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>  
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L" selected="selected">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option>
															<option value="">{% trans %}No cargar{% endtrans %}</option>  
														</select>
																	</td>
																	<td>
																	<select style="width:100px" id="position_13"  name="position_13" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>   
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M" selected="selected">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																	</td>
																	<td>
																	<select style="width:100px" id="position_14"  name="position_14" >
															<option value="A" >{% trans %}Posicion{% endtrans %}</option> 
															<option value="B" >{% trans %}Posicion Categoria{% endtrans %}</option> 
															<option value="C" >{% trans %}Nombre{% endtrans %}</option> 
															<option value="D">{% trans %}Apellido{% endtrans %}</option>   
															<option value="E">{% trans %}Categoria{% endtrans %}</option> 
															<option value="F">{% trans %}Tiempo Oficial{% endtrans %}</option> 
															<option value="G">{% trans %}Tiempo Neto{% endtrans %}</option> 
															<option value="H">{% trans %}Sexo{% endtrans %}</option> 
															<option value="I">{% trans %}Dorsal{% endtrans %}</option> 
															<option value="J">{% trans %}Pais{% endtrans %}</option> 
															<option value="K">{% trans %}Natacion{% endtrans %}</option> 
															<option value="L">{% trans %}Bicicleta{% endtrans %}</option> 
															<option value="M">{% trans %}Carrera{% endtrans %}</option> 
															<option value="N" selected="selected">{% trans %}Carrera 2{% endtrans %}</option> 
															<option value="">{% trans %}No cargar{% endtrans %}</option> 
														</select>
																	</td>
															
																	
{# 																	<td>#}
{# 																		<a href="{{ path('asigne_result', { 'idEvent': classification.event.id,'idClassification': classification.id }) }}" class="btn btn-success pull-right">{% trans %}Mi resultado{% endtrans %}</a>#}
{# 																	</td>#}
																</tr>
														{% for classification in entity.classifications %}
																<tr>
																	<td>
																		{{ classification.overallRank }}
																	</td>
																	<td>
																		{{ classification.divRank }}
																	</td>
																	<td>
																		{{ classification.name }} 
																	</td>
																	<td>
																		{{ classification.lastname }}
																	</td>
																	<td>
																		{{ classification.categoryName }}
																	</td>
																	<td>
																		{{ classification.officialTime }}
																	</td>
																	<td>
																		{{ classification.netoTime }}
																	</td>
																	<td>
																		{{ classification.sexo }}
																	</td>
																	<td>
																		{{ classification.bib }}
																	</td>
																	<td>
																		{{ classification.nationality }}
																	</td>
																	<td>
																		{{ classification.swim }}
																	</td>
																	<td>
																		{{ classification.bike }}
																	</td>
																	<td>
																		{{ classification.runFirst }}
																	</td>
																	<td>
																		{{ classification.runLast }}
																	</td>
																	
{# 																	<td>#}
{# 																		<a href="{{ path('asigne_result', { 'idEvent': classification.event.id,'idClassification': classification.id }) }}" class="btn btn-success pull-right">{% trans %}Mi resultado{% endtrans %}</a>#}
{# 																	</td>#}
																</tr>
																
															{% endfor %}
															</tbody>
												</table>
											</div>
										