
{% extends 'layout_formulario_html.twig' %}
{% block head_layout %}


{% endblock %}

{% block form_title %}{% trans %}recuperar.password{% endtrans %}{% endblock %}

{% block mainpage_layout -%}
	<div class="login-box">
<div class="login-border">
<div class="login-style">
  <div class="login-header">
    <div class="login-logo clear">
        <span class="textlogo">
          <span class="title"><img src="{{ asset('bundles/frontend/images/site-logo.png') }}" />      </div></span>

          <span class="text">
          </span>
        </span>
      <div class="picture">
        
    </div>
  </div>
  

  <div class="login-inside">
    <div class="login-data">

      <p>&nbsp;</p>
	  
      <div class="row clear">
        
        {% if usuario %}
        	<p>{{ usuario.username }}</p>
        	<p>{{ usuario.nombre }} {{ usuario.apellido }}</p>
        	<p>{{ usuario.email }}</p>
        {% endif %}
        
      </div>
      	{% if usuario %}
      		<a href="{{ path('login_enviar_email', {'id':usuario.id}) }}" class="button template">{% trans %}enviar.email{% endtrans %}</a>
		{% endif %}
      		
      	</div>    
  </div>
  <div class="login-footer clear">
    <div class="login-links">
      <a href="{{ path('login_recuperar_password') }}">{% trans %}volver{% endtrans %}</a>
    </div>
  </div>

</div>
</div>
</div>


{% endblock %}

